<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
    <title>Libcararian</title>
</head>
<body>
    <h1>Libcararian</h1>
    <div class="container">

        <div class="container-item" id="file-panel">
            <div class="upload-area">
                <p>PDFファイルをドラッグ&ドロップ<br>または</p>
                <form id="upload" action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" multiple>
                </form>
            </div>
            <div id="list-operation">
                <form action="/delete" method="get">
                    <button type="submit">削除</button>
                </form>
                <form action="/clear" method="get">
                    <button>クリア</button>
                </form>
            </div>
            <p>読み込みファイル</p>
            {% if file_names %}
                <ul class="file-list">
                {% for file_name in file_names %}
                    <li data-file-name="{{ file_name }}"><p>{{ file_name }}</p></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="container-item" id="preview-panel">
            <p>プレビューエリア</p>
            <canvas id="preview-canvas" width="90" height="90"></canvas>
        </div>
        
        <div class="container-item" id="operation-panel">
            <div class="operation-options" id="combine-all">
                <span class="frame-title">一括結合</span>
                <form action="/combine" method="get">
                    <input type="checkbox" name="isBooklet" value="booklet">
                    <label for="isBooklet">小冊子</label><br>
                    <input type="checkbox" name="isNumbering" value="numbering">
                    <label for="isNumbering">ページ番号</label>
                    <br>
                    <label for="start-number">開始番号：</label>
                    <input type="number" name="start-number" min="1" placeholder="例：172">
                    <br>
                    <label for="no-number-pages">表紙ページ数：</label>
                    <input type="number" name="no-number-pages" min="0" placeholder="例：1"><br>
                    <input type="submit" value="一括結合">
                </form>
            </div>
            <button id="openButton">曲ごとに結合</button>
            <dialog id="myDialog">
                <div id="gapArea">
                    <div>
                        <div class="prefix-panel">
                            <select id="prefix" name="prefix">
                                <option value="nothing">-</option>
                                <option value="mixed">混声</option>
                                <option value="female">女声</option>
                                <option value="male">男声</option>
                            </select>
                            <label for="initial-number">冒頭のページ番号：</label>
                            <input type="number" name="initial-number" min="0"><br>
                        </div>
                        <div class="range-panel">
                            <div class="range-item">
                                <button type="button" class="add-range-btn">+</button>
                                <label for="song-name">曲名：</label>
                                <input type="text" name="song-name">
                                <label for="start-number">開始：</label>
                                <input type="number" name="start-number" min="1">
                                <label for="end-number">終了：</label>
                                <input type="number" name="end-number" min="1">
                                <button type="button" class="delete-range-btn">x</button>
                            </div>
                        </div>
                        <button type="button" id="closeButton">閉じる</button>
                        <button type="button" id="combineBySong">曲ごとに結合</button>
                    </div>
                    <template id="range-template">
                        <div class="range-item">
                            <button type="button" class="add-range-btn">+</button>
                            <label for="song-name">曲名：</label>
                            <input type="text" name="song-name">
                            <label for="start-number">開始：</label>
                            <input type="number" name="start-number" min="1">
                            <label for="end-number">終了：</label>
                            <input type="number" name="end-number" min="1">
                            <button type="button" class="delete-range-btn">x</button>
                        </div>
                    </template>
                </div>
            </dialog>
        </div>
    </div>


<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>