<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <title>Libcararian</title>
</head>
<body>
    <h1>Libcararian</h1>
    <div class="container">

        <div class="container-item" id="file-panel">
            <div class="upload-area">
                <p>PDFファイルを<br>ドラッグ&ドロップ<br>または</p>
                <form id="upload" action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" multiple>
                </form>
                <div id="loading-indicator" style="display: none;"><p>アップロード中です...</p></div>
            </div>
            <div id="list-operation">
                <form action="/clear" method="get">
                    <button>クリア</button>
                </form>
                <button type="button" id="sortButton">ファイル名ソート</button>
            </div>
            <p>読み込みファイル</p>
            {% if file_names %}
                <ul id="file-list">
                {% for file_name in file_names %}
                    <li data-file-name="{{ file_name }}">
                        <span class="file-name">{{ file_name }}</span>
                        <button class="delete-file-btn" data-file-name="{{ file_name }}">×</button>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="container-item" id="preview-panel">
            <p>プレビューエリア</p>
            <div class="pdf-navigation">
                <button id="prevPage" disabled>前へ</button>
                <span id="pageNumberDisplay"></span>
                <button id="nextPage" disabled>次へ</button>
            </div>
            <canvas id="preview-canvas" width="90" height="90"></canvas>
        </div>
        
        <div class="container-item" id="operation-panel">
            <div class="operation-options" id="combine-all">
                <span class="frame-title">一括結合</span>
                <form action="/combine" method="get">
                    
                    <label>ファイル名：
                        <input type="text" name="output-filename" placeholder="例：男声結合ファイル" maxlength="50">
                    </label><br>

                    <label>
                        <input type="checkbox" name="isBooklet" value="booklet">
                        小冊子
                    </label><br>

                    <label>
                        <input type="checkbox" name="isNumbering" value="numbering">
                        ページ番号
                    </label><br>

                    <label>開始番号：
                        <input type="number" name="start-number" min="0" placeholder="例：172">
                    </label><br>

                    <label>表紙ページ数：
                        <input type="number" name="no-number-pages" id="no-number-pages" min="0" >
                    </label><br>
                    <input type="submit" value="一括結合">
                </form>
            </div>
            
            <button id="openButton">曲ごとに結合</button>
            <dialog id="myDialog">
                <div id="gapArea">
                    <div>
                        <div class="prefix-panel">
                            <select id="prefix" name="prefix">
                                <option value="nothing">-</option>
                                <option value="mixed">混声</option>
                                <option value="female">女声</option>
                                <option value="male">男声</option>
                            </select>
                            <label>冒頭のページ番号：
                                <input type="number" name="initial-number" id="initial-number" min="0">
                            </label>
                            <br>
                        </div>
                        <div class="range-panel">
                            <div class="range-item">
                                <button type="button" class="add-range-btn">+</button>
                                <label>曲番号：<input type="number" name="song-number" id="song-number" min="0"></label>
                                
                                <label>曲名：<input type="text" name="song-name" id="song-name"></label>
                                
                                <label>開始：<input type="number" name="start-number" min="0"></label>
                                
                                <label>終了：<input type="number" name="end-number" min="0"></label>
                                
                                <button type="button" class="delete-range-btn">x</button>
                            </div>
                        </div>
                        
                    </div>
                    <button type="button" id="combineBySong">曲ごとに結合</button>
                    <button type="button" id="closeButton">閉じる</button>
                    <template id="range-template">
                        <div class="range-item">
                            <button type="button" class="add-range-btn">+</button>
                            <label>曲番号：<input type="number" name="song-number" id="song-number" min="0"></label>
                            
                            <label>曲名：<input type="text" name="song-name" id="song-name"></label>
                            
                            <label>開始：<input type="number" name="start-number" min="0"></label>
                            
                            <label>終了：<input type="number" name="end-number" min="0"></label>
                            
                            <button type="button" class="delete-range-btn">x</button>
                        </div>
                    </template>
                </div>
            </dialog>
        </div>
    </div>

<script>
    const IS_GAE = {{ is_gae | tojson }};
</script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>